.typing_text_para{
    font-weight: 100;
    font-size: 14px;
    width: 400px;
    color: rgb(202, 202, 202);
    z-index: 10;
}
@media (max-width: 1080px){
    .typing_text_para{
        width: 60dvw;
        font-size: 10px;
    }
}

@media (max-width: 768px){
    .typing_text_para{
        width: 80dvw;
        font-size: 10px;
    }
}

@media screen and (max-width: 480px){
    .typing_text_para{
        width: 90dvw;
        font-size: 8px;
    }
}