.landing_2025_main {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    background-color: black;

}
.galaxy2025 {
    position: absolute;
    object-fit: contain;
    top: -15%;
    left: -18%;
    width: 80%;
    height: 80%;
    z-index: 0;
}
