
.flow{
 width: 100%;
 aspect-ratio: 1/1;
}
.headingg{
  font-size: 2rem;
  /* font-size: 64px; */
  text-align: center;
  padding: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
}

.aboutcontent{
  /* height: 140vh; */
  height: auto;
  position: relative;
  top: 7vh;
  font-family: 'Montserrat', sans-serif;
}
.abouttheme, .abouttedxdavv, .aboutted{
  padding: 1rem;
  padding-top: 0;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 15vw 0 15vw;
  text-align: justify;
}
.aboutted{
  margin: 0 25vw 0 25vw;
}

.textno {
  /* font-family: "Recursive", monospace; */
  font-size: clamp(4em, 15vmin, 20em);
  text-shadow: 0;
  color: #fefae0;
  animation: anime 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) alternate infinite;
}

@keyframes anime {
  from {
    font-variation-settings: "wght" 800, "slnt" 0;
    text-shadow: -5px 10px 0px #eb0010, -10px 20px 0px #eb0015,
      -15px 30px 0px #eb0020;
  }
  to {
    font-variation-settings: "wght" 300, "slnt" 15;
    text-shadow: none;
  }
}

@media screen and (max-width: 830px){
  .aboutcontent{
    /* height: 200vh; */
    /* height: 120vh; */
    /* overflow: hidden; */
    z-index: 1;
  }
  .abouttheme, .abouttedxdavv, .aboutted{
    font-size: 1rem;
    margin: 0 6vw;
  }
  .aboutted{
    margin: 0vw 4vw;
  }
  
  .heading{
    padding: 1.5rem;
  }
  .flow{
    width: 100%;
    height: 80vh;
    position: relative;
    /* top: -30vh; */
    display: block;
   }
}
@media screen and (max-width: 480px){
  
  .abouttheme, .abouttedxdavv, .aboutted{
    font-size: 1rem;
    margin: 0 6vw;
  }
  .aboutted{
    margin: 0vw 8vw;
  }
}