.app__speakers{
    background-color: black;
    padding: 3rem 5rem;
}
.app__speaker-cards{
    gap: 3rem;
    justify-content: space-evenly;
    margin-top: 2rem;
    flex-wrap: wrap;
}
@media screen and (max-width:1150px) {
    .app__speakers{
        padding: 3rem 5rem;
    }
}
@media screen and (max-width:650px) {
    .app__speakers{
        padding: 3rem 2rem;
    }
}