/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,600&display=swap');


body {
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar{
  display: none;
}
.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  min-height: 100vh;
}
.red{
  background-color: #E62B1E;
}
.redtext{
  color: #E62B1E;
}
.black{
  background-color: #0C0C0C;
}
.blacktext{
  color: #0C0C0C;
}
.whitetext{
  color: white;
}
.hero::-webkit-scrollbar{
  display: none;
}
